# Python
__pycache__/
*.py[cod]
*$py.class

# Sanal Ortam
venv/
.venv/
env/
.env/
ENV/

# Veritabanı
*.db
*.sqlite3
instance/

# IDE/Editör Dosyaları
.vscode/
.idea/

# Ortam Değişkenleri Dosyası
.env
