<!-- add_note.html -->
{% extends "dashboard_base.html" %}
{% block dashboard_content %}
<div id="ajax-content">
  <h3>Yeni Not Ekle</h3>
  <form method="POST">
    <input class="form-control mb-2" name="title" placeholder="Başlık" required>
    <textarea class="form-control mb-2" name="content" rows="6" placeholder="İçerik" required></textarea>
    <button class="btn btn-primary" type="submit">Kaydet</button>
    <a class="btn btn-secondary content-link" href="{{ url_for('dashboard.all_notes') }}">İptal</a>
  </form>
</div>
{% endblock %}
