<!-- index.html -->
{% extends "dashboard_base.html" %}

{% block dashboard_content %}
  <h2>Notlarım</h2>
  <a href="{{ url_for('dashboard.add_note') }}">
      <button>+ Yeni Not Ekle</button>
  </a>
  <ul>
    {% for note in notes %}
      <li>
        <strong>{{ note.title }}</strong>
        <p>{{ note.content }}</p>

        <form action="{{ url_for('dashboard.update_note', note_id=note.id) }}" method="get">
          <button type="submit">Düzenle</button>
        </form>
        <form method="POST" action="{{ url_for('dashboard.delete_note', note_id=note.id) }}">
          <button type="submit">Sil</button>
        </form>
        <form action="{{ url_for('dashboard.toggle_star', note_id=note.id) }}" method="POST" style="display:inline;">
          <button type="submit" class="star-btn">
            {% if note.starred %}
              ⭐
            {% else %}
              ☆
            {% endif %}
          </button>
        </form>

      </li>
    {% endfor %}
  </ul>
{% endblock %}
